<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Equinox Aspects 1.0.0 / Equinox 3.4.0 / AJDT 1.6.1">

   <location path="${project_loc}/bundles-1.0.0-3.4.0-1.6.1"/>

   <content useAllPlugins="true">
      <plugins>
         <plugin id="org.aspectj.osgi"/>
         <plugin id="org.aspectj.osgi.service.caching"/>
         <plugin id="org.aspectj.osgi.service.caching.j9"/>
         <plugin id="org.aspectj.osgi.service.weaving"/>
         <plugin id="org.aspectj.runtime"/>
         <plugin id="org.aspectj.weaver"/>
         <plugin id="org.eclipse.equinox.source"/>
         <plugin id="org.eclipse.osgi"/>
      </plugins>
      <features>
      </features>
   </content>

</target>
