<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.equinox.examples.splash.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.equinox.examples.splash.ui.Perspective"
            id="org.eclipse.equinox.examples.splash.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.examples.splash.ui.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Hello RCP">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.eclipse.equinox.examples.splash.ui.SplashHandler"
            id="org.eclipse.equinox.examples.splash.ui">
      </splashHandler>
      <!--<splashHandlerProductBinding
            productId="org.eclipse.equinox.examples.splash.ui.product"
            splashId="org.eclipse.equinox.examples.splash.ui">
      </splashHandlerProductBinding> -->
      <splashHandlerProductBinding
            productId="org.eclipse.sdk.ide"
            splashId="org.eclipse.equinox.examples.splash.ui">
      </splashHandlerProductBinding>
   </extension>
</plugin>
