<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="app"
         name="Paint"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any">
         <run
               class="org.eclipse.swt.examples.paint.Application">
         </run>
      </application>
   </extension>

</plugin>
