<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/hellosecurity"
            class="org.eclipse.equinox.examples.httpsecurity.SecureServlet"
            httpcontextId="org.eclipse.equinox.examples.httpsecurity.securecontext">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            class="org.eclipse.equinox.examples.httpsecurity.SecureHttpContext"
            id="org.eclipse.equinox.examples.httpsecurity.securecontext">
      </httpcontext>
   </extension>
   <extension
         id="simpleLogin"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.eclipse.equinox.examples.httpsecurity.SimpleLoginModule"
            description="Simple Login Module">
      </loginModule>
   </extension>

</plugin>
