<?xml version="1.0" encoding="UTF-8"?>
<plugin>

     <!-- A sample product for inspecting the subject -->   
   <extension
         id="authProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.security.sample.authApplication"
            name="Product with initial Authentication">
         <property
               name="preferenceCustomization"
               value="data/plugin_customization.ini"/>
      </product>
   </extension>

   <!-- A sample application with authentication -->
   <extension
     name="Application with initial Authentication"
     id="authApplication"
     point="org.eclipse.core.runtime.applications">
     
      <application>
         <run class="org.eclipse.equinox.security.sample.AuthApplication"/>
      </application>
      
   </extension>
   
   <!-- A sample perspective for inspecting the subject -->   
   <extension
     name="Subject Inspection Perspective"
     id="subjectPerspective"
     point="org.eclipse.ui.perspectives">
         
      <perspective
        name="Subject Perspective"
        id="org.eclipse.equinox.security.sample.subjectPerspective"
        class="org.eclipse.equinox.security.sample.SubjectPerspective"
        fixed="true">
      </perspective>
      
   </extension>
   
   <!-- A sample view for inspecting the subject -->
   <extension
         id="subjectView"
         name="Subject View"
         point="org.eclipse.ui.views">
      
      <category
        name="Subject Category"
        id="org.eclipse.equinox.security.sample.subjectCategory">
      </category>
      
      <view
        name="Subject View"
        id="org.eclipse.equinox.security.sample.subjectView"
        category="org.eclipse.equinox.security.sample.subjectCategory"
        class="org.eclipse.equinox.security.sample.SubjectView">
      </view>
      <view
            class="org.eclipse.equinox.sample.password.view.UserCredentailView"
            id="org.eclipse.equinox.security.sample.credentialView"
            name="Credential View">
      </view>
   </extension>
   
   <!-- The windows loginmodule for sun JRE -->
   <extension
     id="ntLoginModule"
     name="Windows NT LoginModule"
     point="org.eclipse.equinox.security.loginModule">
      <loginModule
        class="com.sun.security.auth.module.NTLoginModule"
        description="LoginModule for Windows NT"/>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.equinox.security.sample.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Bundles">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
              <menu
               id="sampleMenu1"
               label="Engine">
            <separator
                  name="sampleGroup1">
            </separator>
         </menu>
         <!-- an action to load the signed bundle -->
         <action
               class="org.eclipse.equinox.security.sample.InstallSignedAction"
               id="org.eclipse.equinox.security.sample.InstallSignedAction"
               label="&amp;Install and start 'Signed' Bundle"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup">
         </action>
         <action
               class="org.eclipse.equinox.security.sample.InstallMyTrustEngine"
               id="org.eclipse.equinox.security.sample.InstallMyTrustEngine"
               label="&amp;Install Engine"
               menubarPath="sampleMenu1/sampleGroup1"
               toolbarPath="Engine">
         </action>
         <menu
               id="sslMenu"
               label="SSL">
            <separator
                  name="sampleSSLSeparator">
            </separator>
         </menu>
         <action
               class="org.eclipse.equinox.security.sample.ssl.ConnectSSLAction"
               id="org.eclipse.equinox.security.sample.SSLAction"
               label="&amp;Connect to"
               menubarPath="sslMenu/sampleSSLSeparator">
         </action>
      </actionSet>
    
   </extension>
   
   
   <!-- KeyStore sample functionality -->
   <extension
     id="ksConfigurationProvider"
     name="Default Configuration Provider for KeyStore"
     point="org.eclipse.equinox.security.loginConfigurationProvider">
      <loginConfigurationProvider class="org.eclipse.equinox.security.sample.keystore.KSConfigurationProvider"/>
   </extension>

   <extension
     id="keystoreLoginModule"
     name="KeyStore LoginModule"
     point="org.eclipse.equinox.security.loginModule">
      <loginModule
        class="org.eclipse.equinox.security.sample.keystore.KeyStoreLoginModule"
        description="LoginModule for KeyStore"/>
   </extension>
   
   <!-- The default CallbackHandler for gathering KeyStore information -->  
   <extension id="defaultKeyStoreCallbackHandler"
              name="Default CallbackHandler for KeyStore Login Configuration"
              point="org.eclipse.equinox.security.callbackHandler">
       <callbackHandler class="org.eclipse.equinox.security.sample.keystore.ui.KeyStoreLoginDialog"/>
    </extension>
 
   <!-- Specifies the CallbackHandler mapping to use for the built-in KeyStore JAAS configuration. -->
   <extension
         name="KeyStore CallbackHandler Mapping"
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="org.eclipse.equinox.security.sample.defaultKeyStoreCallbackHandler"
            configName="KeyStore"/>
   </extension>

   <extension
         id="ldapLoginModule"
         name="LDAP LoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="com.sun.security.auth.module.JndiLoginModule"
            description="LoginModule for LDAP">
      </loginModule>
   </extension>
   
      <extension
         id="storageLoginModule"
         name="SecureStorage PasswordProvider LoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.eclipse.equinox.security.sample.securestorage.PasswordProviderModule"
            description="LoginModule for SecureStorage">
      </loginModule>
   </extension>
      
      <extension
            id="subjectPasswordProvider"
            point="org.eclipse.equinox.security.secureStorage">
         <provider
               class="org.eclipse.equinox.security.sample.securestorage.SubjectPasswordProvider"
               priority="1">
         </provider>
      </extension>
      
      <extension
            id="trustLoginModule"
            name="TrustEngine LoginModule"
            point="org.eclipse.equinox.security.loginModule">
         <loginModule
               class="org.eclipse.equinox.security.sample.trustengine.TrustEngineLoginModule"
               description="TrustEngine LoginModule">
         </loginModule>
      </extension>
      
      <extension
            id="basicAuthDialog"
            name="Basic Authentication Dialog"
            point="org.eclipse.equinox.security.callbackHandler">
         <callbackHandler
               class="org.eclipse.equinox.security.sample.callback.BasicAuthHandler">
         </callbackHandler>
      </extension>
      
      <extension
            point="org.eclipse.equinox.security.callbackHandlerMapping">
         <callbackHandlerMapping
               callbackHandlerId="org.eclipse.equinox.security.sample.basicAuthDialog"
               configName="LDAP">
         </callbackHandlerMapping>
      </extension>
   
      <extension
            point="org.eclipse.equinox.security.callbackHandlerMapping">
         <callbackHandlerMapping
               callbackHandlerId="org.eclipse.equinox.security.sample.basicAuthDialog"
               configName="LDAP-TE">
         </callbackHandlerMapping>
      </extension>
  
   
</plugin>
