<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="FileAssociation"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.equinox.demo.file.association.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.equinox.demo.file.association.Perspective"
            id="org.eclipse.equinox.demo.file.association.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.eclipse.equinox.demo.file.association.View"
            id="org.eclipse.equinox.demo.file.association.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.eclipse.equinox.demo.file.association.NavigationView"
            id="org.eclipse.equinox.demo.file.association.navigationView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.equinox.demo.file.association.OpenFileView"
            icon="icons/sample.gif"
            id="org.eclipse.equinox.demo.file.association.openFile"
            name="OpenDocument Event"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="org.eclipse.equinox.demo.file.association.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="org.eclipse.equinox.demo.file.association.category"
            id="org.eclipse.equinox.demo.file.association.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="org.eclipse.equinox.demo.file.association.category"
            id="org.eclipse.equinox.demo.file.association.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.equinox.demo.file.association.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.equinox.demo.file.association.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.demo.file.association.application"
            name="FileAssociation">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="FileAssociation">
         </property>
      </product>
   </extension>

</plugin>
