<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main">
         <run
               class="org.eclipse.equinox.examples.app.selector.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="AppPerspective"
            class="org.eclipse.equinox.examples.app.selector.Perspective"
            id="org.eclipse.equinox.app.selector.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="AppView"
            class="org.eclipse.equinox.examples.app.selector.ApplicationView"
            id="org.eclipse.equinox.app.selector.appview">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.examples.app.selector.application"
            name="App Selector">
         <property
               name="appName"
               value="App Selector">
         </property>
      </product>
   </extension>

</plugin>
