<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="applications"
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/applications/console"
            class="org.eclipse.equinox.examples.servlet.apps.ApplicationsServlet">
      </servlet>
   </extension>
   <extension
         id="icons"
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/applications/icons"
            class="org.eclipse.equinox.examples.servlet.apps.IconsServlet">
      </servlet>
   </extension>
   <extension
         id="resource.icons"
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/applications/resources"
            base-name="resources">
      </resource>
   </extension>

</plugin>
