<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category name="p2 Profile Analysis" id="org.eclipse.p2.analysis.ui" />
		<view
            name="ProfileAnalysis"
            category="org.eclipse.p2.analysis.ui"
            class="org.eclipse.equinox.internal.p2.ui.analysis.IUQueryablesView"
            id="org.eclipse.equinox.internal.p2.ui.analysis.IUQueryablesView">
		</view>
	</extension>
	<extension point="org.eclipse.ui.views">
		<category name="p2 IU Properties" id="org.eclipse.p2.analysis.ui" />
		<view
            name="IU Fullfills"
            category="org.eclipse.p2.analysis.ui"
            class="org.eclipse.equinox.internal.p2.ui.analysis.IUPropertiesView"
            id="org.eclipse.equinox.internal.p2.ui.analysis.IUPropertiesView">
		</view>
	</extension>
	  <extension point="org.eclipse.ui.propertyPages">
	      <page
	            name="IU Required By"
	            class="org.eclipse.equinox.internal.p2.ui.analysis.dialogs.IURequiredByPage"
	            id="org.eclipse.equinox.p2.ui.analysis.IURequiredByPage">
	            <enabledWhen>
	            <adapt type="org.eclipse.equinox.p2.metadata.IInstallableUnit">
	             </adapt>
	          </enabledWhen>
	      </page>
	      <page name="IU Source"
	            class="org.eclipse.equinox.internal.p2.ui.analysis.dialogs.IUSourcePage"
	            id="org.eclipse.equinox.p2.ui.analysis.IUSourcePage">
	            <enabledWhen>
	            <adapt type="org.eclipse.equinox.p2.metadata.IInstallableUnit">
	             </adapt>
	          </enabledWhen>
	      </page>
	      <page name="IU Requirements"
	            class="org.eclipse.equinox.internal.p2.ui.analysis.dialogs.IURequirementPage"
	            id="org.eclipse.equinox.p2.ui.analysis.IURequirementPage">
	            <enabledWhen>
	            <adapt type="org.eclipse.equinox.p2.metadata.IInstallableUnit">
	             </adapt>
	          </enabledWhen>
	      </page>
	      <page name="IU Comparison"
	            class="org.eclipse.equinox.internal.p2.ui.analysis.dialogs.IUComparisonPage"
	            id="org.eclipse.equinox.p2.ui.analysis.IUComparisonPage">
	            <enabledWhen>
	            <adapt type="org.eclipse.equinox.p2.metadata.IInstallableUnit">
	             </adapt>
	          </enabledWhen>
	      </page>
	      <page name="Installability"
	            class="org.eclipse.equinox.internal.p2.ui.analysis.dialogs.ProfileInstallabilityPage"
	            id="org.eclipse.equinox.p2.ui.analysis.ProfileInstallabilityPropertyPage">
	            <enabledWhen>
	            <adapt type="org.eclipse.equinox.p2.engine.IProfile">
	             </adapt>
	          </enabledWhen>
	      </page>
	      <page name="Validity"
	            class="org.eclipse.equinox.internal.p2.ui.analysis.dialogs.ProfileValidityPage"
	            id="org.eclipse.equinox.p2.ui.analysis.ProfileValidityPage">
	            <enabledWhen>
	            <adapt type="org.eclipse.equinox.p2.engine.IProfile">
	             </adapt>
	          </enabledWhen>
	      </page>
      </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.equinox.internal.p2.ui.analysis.P2AnalysisPerspectiveFactory"
            fixed="false"
            id="org.eclipse.equinox.internal.p2.ui.analysis.P2AnalysisPerspectiveFactory"
            name="p2 Analysis">
      </perspective>
   </extension>
</plugin>
