<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="deselected_workspace_plugins" value="org.eclipse.equinox.prov.metadata.repository,org.eclipse.ecf.provider.filetransfer,org.eclipse.equinox.prov.engine,org.eclipse.equinox.simpleconfigurator,org.eclipse.ecf.provider,org.eclipse.equinox.prov.touchpoint.natives,org.eclipse.equinox.prov.metadata.generator,com.thoughtworks.xstream,org.mozilla.rhino,org.eclipse.ecf,org.eclipse.ecf.sharedobject,org.eclipse.equinox.prov.operations,org.eclipse.equinox.prov.director,org.eclipse.equinox.prov.artifact.repository,org.eclipse.equinox.prov.download,org.eclipse.ecf.identity,org.eclipse.equinox.prov.core,org.eclipse.equinox.prov.touchpoint.eclipse,org.eclipse.equinox.prov.examplarysetup,org.eclipse.ecf.filetransfer,org.eclipse.equinox.prov.test,org.eclipse.equinox.prov.metadata"/>
<booleanAttribute key="tracing" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-console"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="automaticValidate" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="target_bundles" value="com.ibm.icu@default:default,org.eclipse.core.contenttype@default:default,org.eclipse.core.jobs@default:default,org.eclipse.core.runtime@default:true,org.eclipse.core.runtime.compatibility.auth@default:default,org.eclipse.core.runtime.compatibility.registry@default:default,org.eclipse.equinox.app@default:default,org.eclipse.equinox.common@2:true,org.eclipse.equinox.preferences@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.osgi@:,org.eclipse.osgi.services@default:default,org.junit@default:default"/>
<stringAttribute key="workspace_bundles" value="org.eclipse.equinox.frameworkadmin@default:default,org.eclipse.equinox.frameworkadmin.equinox@2:default,org.eclipse.equinox.frameworkadmin.examples@default:default,org.eclipse.equinox.frameworkadmin.felix@2:default,org.eclipse.equinox.frameworkadmin.knopflerfish@2:default,org.eclipse.equinox.simpleconfigurator.manipulator@1:default"/>
<booleanAttribute key="default_auto_start" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="configLocation" value=""/>
</launchConfiguration>
